NEXT_PUBLIC_SITE_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000

# Database
DATABASE_URL="mongodb://127.0.0.1:32769/g-bath?directConnection=true"

# NextAuth
NEXTAUTH_SECRET="g-bath-super-secret-key-change-in-prod"
# NEXTAUTH_URL="http://localhost:5000"
AUTH_TRUST_HOST=true
